/*Topo*/
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: white;
    border: 5px solid white;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(151, 151, 151);
    border-radius: 50px;
    border: 1px solid white;
}

body{
    background-color:#f0f0f0;

    background: linear-gradient(to right,
    #f0f0f0, #ede5c1, #ebdba8);
    background-size: 500% 100%;

}

.main_header {
    width: 100%; 
   
    
}



.main_header .main_header_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: right;
}

.main_header .main_header_content img {
    flex-basis: 310px;
    padding: 0px;
    width: 90px;
}

.main_header .main_header_content h4{
    flex-basis: 200px;
    padding-top: 53px;
    text-align: left;
    font-weight: 900;
    font-size: 1.2rem;
    font-style: italic;
    color:#000000;
    text-decoration: none;

}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100%);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
    text-align: right;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;

}

.main_header_content_menu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    height: 100%;
    color:#947943;
    
}

.main_header_content_menu ul li a:hover{
    color:#000000;
    background: linear-gradient(to right, rgb(245, 234, 172), rgb(251, 198, 148));
    transition: 0.9s;
   
}


/* td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  td a1 {
    color: rgb(87, 87, 207);
  
  } */


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  td a1 {
    color: rgb(0, 0, 0);
  
  }
  
  .td__operacao {
    display:flex; 
  }
  
  .section__btn {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .btnalterar {
    border: none;
    width: 100px;
    padding: 5px 0px;
    background-color: rgb(1, 165, 42);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block; 
    opacity: 0.8;
    margin: 5px 10px; 
  }

  .btnalterar:hover{
    opacity: 1;
  }
  
  .btnexcluir {
    border: none;
    width: 100px;
    padding: 5px 0px;
    background-color: rgb(182, 51, 46);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    opacity: 0.8;  
    margin: 5px 10px; 
  }

  .btnexcluir:hover{
    opacity: 1;
  }