<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="../assets/css/boot.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style_options.css">

    <title>Opção</title>
</head>

<body>
    <!--DOBRA CABEÇALHO-->

    <header class="main_header">
        <div class="main_header_content">
            <a href="../index.php" class="logo">
                <img src="../assets/img/logos/logo_borda.png" alt="Logo Olimpo"
                    title="Logo Olimpo"></a>

            <nav class="main_header_content_menu">
                <ul>
                    <li><a href="../index.php">Voltar</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main_opc">
            <section>
                <header class="main_course_header"></header>
                <div class="alinhamento">
                    <article>
                        <h2>Aluno</h2>
                        <header>
                            <p align="center">
                                <a href="../usuarioAluno/CRUD_mensalidades/login.php">
                                    <img src="../assets/img/aluno.jpg" alt="cadastro" title="cadastro" width="400"
                                        height="400">
                                </a>
                            </p>
                        </header>
                    </article>

                    <article>
                        <h2>Personal</h2>
                        <header>
                            <p align="center">
                                <a href="../usuarioPersonal/usuarioPersonal/crud-personal/usuarioPersonal/usuarioPersonal/crud-personal/crud/usuarios/new.php">
                                    <img src="../assets/img/personal-trainer.jpg" alt="cadastro" title="cadastro" width="300"
                                        height="400">
                                </a>
                            </p>
                        </header>
                    </article>


                </div>
            </section>
        </div>
    </main>


</body>

</html>