
 
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1{
    color: rgb(212, 180, 109);
    font-size: 3rem;
    margin-top: 120px;
    display: flex;
    text-align: center;
}
.left-login-image{
    width: 30vw;
    margin-bottom: 190px;

    
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #fbfbfb;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgb(213, 213, 213);
}

.card-login h1{
    color: rgb(212, 180, 109);
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f5e2;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 5px 10px rgb(241, 234, 197);
    outline: none;
    box-sizing: border-box;
}




.textfield_row .cvv{
        width: 25%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
}
.textfield_row .cpf{
        width: 50%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
}


.textfield_column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield_column .data_nasc{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.textfield_column input{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
        margin: 10px 10px;
}
.textfield_column .num_cartao{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
        margin: 10px 10px;
}



.textfield label{
    color: black;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: rgb(48, 48, 48); 
}

.btn-login{
    width: 45%;
    padding: 16px 0px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: rgb(222, 195, 136);;
    color: black;
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 0px 10px 40px -12px rgb(240, 229, 167);
    text-decoration: none;
    list-style: none;
}
.btn-login:hover{
    opacity: 1;
    background-color: rgb(240, 208, 132);
    text-decoration: none;
}